<div class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item {{filter}}">
  <div class="portfolio-content h-100">
    <img src="{{src}}" class="img-fluid" alt="">
    <div class="portfolio-info">
      <p>{{ text }}</p>
      {%- if href %}
        <a href="{{href}}" title="{{title}}" class="details-link"><i class="bi bi-link-45deg"></i></a>
      {%- endif %}
    </div>
  </div>
</div>
<!-- End Portfolio Item -->
